{% extends 'base.html' %} {% block content %} {% load static %}
<div class="aboutWrapper">
  <div class="aboutTitle">Welcome!</div>
  <!-- <div class="aboutSub">Georgia Tech Movie Store</div> -->
  <img src="{% static 'img/pinkpop.png' %}" style="height: 350px"/>
  <div class="aboutText">
    <b>Georgia Tech Movie Store</b> offers a vast digital library
     that spans across genres, ensuring there's
     something for every movie lover. Browse our
     extensive collection of films, including the
     latest releases, timeless classics, and hidden
     gems. With just a few clicks, you can rent or
     purchase your favorite titles and instantly
     stream them in high-definition quality. Discover the convenience of our digital platform,
    where you have the flexibility to watch movies
    on your preferred device, whether it's a smart
    TV, tablet, or smartphone. With our intuitive
    search and recommendation features, finding your
    next movie night pick has never been easier.
  </div>
</div>
{% endblock content %}