{% extends 'base.html' %} {% block content %}
<div>
  <div >
    <div class="loginContainer">
      <div class="col-md-8">
        <!-- <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body"> -->
            <div id="logintitle">Log in!</div>
            {% if template_data.error %}
            <div class="alert alert-danger" role="alert">
              {{ template_data.error }}
            </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <div>
                <input
                  id="userinput"
                  id="username"
                  type="text"
                  name="username"
                  placeholder="Enter your username"
                  required
                  autocomplete="username"
                  class="form-control"
                />
              </div>
              <p>
                <input
                id="userinput"
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Enter your password"
                  required
                  autocomplete="current-password"
                  class="form-control"
                />
              </p>
              <div >
                <button type="submit" class = "loginbutton">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
