{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="divisionWrapper">
    <div class="logsignWrapper">
        <div id="logintitle">Sign Up!</div>

        <form method="POST">
            {% csrf_token %}

            {% for field in template_data.form %}
                {% if field.name == 'username' %}
                <div>
                    <input
                        id="userinput"
                        id="username"
                        type="text"
                        name="username"
                        placeholder="Enter your username"
                        required
                        autocomplete="username"
                        class="form-control"
                        {% if field.value %}value="{{ field.value }}"{% endif %}
                    />
                    {% if field.errors %}
                    <div class="error-message">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if field.name == 'password1' %}
                <p>
                    <input
                        id="userinput"
                        id="password"
                        type="password"
                        name="password1"
                        placeholder="Enter your password"
                        required
                        autocomplete="new-password"
                        class="form-control"
                    />
                    {% if field.errors %}
                    <div class="error-message">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </div>
                    {% endif %}
                </p>
                {% endif %}

                {% if field.name == 'password2' %}
                <p>
                    <input
                        id="userinput"
                        id="confirm-password"
                        type="password"
                        name="password2"
                        placeholder="Confirm your password"
                        required
                        autocomplete="new-password"
                        class="form-control"
                    />
                    {% if field.errors %}
                    <div class="error-message">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </div>
                    {% endif %}
                </p>
                {% endif %}

                {% if field.name == 'first_name' %}
                <div class="security-question-section">
                    <div class="security-question-label">Security Question: What is your favorite movie?</div>
                    <input
                        id="userinput"
                        id="security-answer"
                        type="text"
                        name="first_name"
                        placeholder="Enter your answer"
                        required
                        class="form-control"
                        {% if field.value %}value="{{ field.value }}"{% endif %}
                    />
                    {% if field.errors %}
                    <div class="error-message">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}

            <button type="submit" class="loginbutton" data-text="Sign up">
                Sign Up
            </button>
        </form>
    </div>

    <div class="rightWrapper">
        <div>
            <img src="{% static 'img/popcorn.png' %}" style="margin-right: 300px; height: 400px" />
        </div>
        <a class="largeName" href="{% url 'movies.index' %}" style="text-decoration: none;">GT Movie Store</a>
    </div>
</div>
{% endblock content %}