body {
  overflow: auto;
  background-color: #fefaec;
}

.headerWrapper {
  background-color: #fefaec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-right: 70px;
  padding-left: 150px;
  padding-top: 10px;
}

.naviagorDiv {
  font-size: 12pt;
  font-family: "Inter";
  color: #f38181;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 80px;
}

.navicons {
  margin-right: 10px;
}

.divisionWrapper {
  display: flex;
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
}

.logsignWrapper {
  background-color: #fefaec;

  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 100px;

  flex: 1; /* Both sections take 50% of the width */
  height: 100%;
}

.rightWrapper {
  background-color: #f38181;
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.largeName {
  font-size: 100pt;
  font-family: "Passion One";
  width: 300px;
  margin-bottom: 50px;
  margin-right: 50px;

  text-align: right;
  line-height: 0.8;
  color: #fefaec;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#logintitle {
  font-size: 70pt;
  font-family: "Passion One";
  color: #f38181;
}

#userinput {
  width: 470px;
  height: 50px;
  font-size: 16pt;
  border-radius: 30px;
  border: 3px solid #f38181;

  padding-left: 30px;
  margin-bottom: 18px;

  font-family: "Inter";

  background-color: #fefaec;
}

.loginbutton {
  color: #625772;
  font-size: 16pt;
  font-family: "Inter";
  font-weight: 600;

  width: 470px;
  height: 50px;

  margin-top: 30px;

  border-radius: 30px;
  border: 3px solid #625772;
  background-color: #a9eee6;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loginbutton:hover {
  color: #a9eee6;
  border: 3px solid #a9eee6;
  background-color: #625772;
  transition: 0.5s;
}

#buttonWrapper {
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signupRow {
  margin-top: 13px;
  font-size: 12px;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gosignup {
  margin-left: 8px;
  color: #f38181;
}
.gosignup:hover {
  color: #f38181;
  text-decoration: underline;
  transition: 0.5s;
}

#id_username {
  width: 470px;
  height: 50px;
  font-size: 16pt;
  border-radius: 30px;
  border: 3px solid #f38181;

  padding-left: 30px;
  margin-bottom: 18px;

  font-family: "Inter";

  background-color: #fefaec;
}

#id_password1 {
  width: 470px;
  height: 50px;
  font-size: 16pt;
  border-radius: 30px;
  border: 3px solid #f38181;

  padding-left: 30px;
  margin-bottom: 18px;

  font-family: "Inter";

  background-color: #fefaec;
}

#id_password2 {
  width: 470px;
  height: 50px;
  font-size: 16pt;
  border-radius: 30px;
  border: 3px solid #f38181;

  padding-left: 30px;
  margin-bottom: 18px;

  font-family: "Inter";

  background-color: #fefaec;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchInput {
  border: none;
  border-bottom: 1px solid #f38181;
  width: 500px;
  background-color: #fefaec;
  outline: none;
}

/* Movie List =================> */

.pageTitle {
  font-size: 40pt;
  font-family: "Passion One";
  color: #f38181;

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 40px;
  margin-bottom: 30px;
}

.moviesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  gap: 30px;
}

.movieCard {
  width: 200px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-right: 10px;
  margin-left: 10px;

  border: 3px solid #625772;
  border-radius: 13px;
  background-color: #fefaec;

  padding: 10px;
}

.movieName {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;

  width: 170px;
  color: #625772;

  text-decoration: none;
}

.movieCard:hover {
  border: 3px solid #f38181;
  box-shadow: 10px 10px 2px 1px #dfb2b2;
  transition: 0.4s;
}

.movieName:hover {
  color: #f38181;
  transition: 0.4s;
}

/* Movie Show Page ======================> */
.movieDetailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: green;
}

.movieDetailTitle {
  font-size: 35px;
  font-family: "Inter";
  font-weight: 600;
  color: #625772;
}

.infoBox {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.infoInner {
  width: 175px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quantity-input {
  width: 55px;
  border: none;
  border-bottom: 2px solid #625772;
  background-color: #fefaec;
  border-radius: 0px;
}

.infoText {
  font-size: 15px;
  font-weight: 700;
}

.description {
  font-size: 15px;
}

.submitBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 3px solid #625772;
  border-radius: 10px;
  background-color: #a9eee6;

  color: #625772;
  font-weight: 500;
}

.submitBtn:hover {
  color: #a9eee6;
  border: 3px solid #a9eee6;
  background-color: #625772;
  transition: 0.4s;
}

.list-group {
  margin-top: 10px;
  border-radius: 10px;
}

.list-group-item {
  background-color: #fefaec;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
